Repository apache/incubator-kie-kogito-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ricardozanini, @krisv, @hmanwani-rh, @akumar074

.github/CODEOWNERS:

*	@ricardozanini @krisv

*.adoc	@hmanwani-rh
*.md	@hmanwani-rh
*.yml	@akumar074
*.json	@akumar074

KOGITO-7630 Added a reminder to include a card for a new guide to CON… (#79)
  CONTRIBUTING.md
Owners: @hmanwani-rh

Updating the home page with all cards about to be published (#56)
  .github/pull_request_template.md
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

deploy: 4a76408628e6fce380543eff371c54262eace446
  search-index.js
  serverlessworkflow/main/index.html
Owners: @ricardozanini, @krisv

KOGITO-7453: Formatting changes as per input from Jan
  serverlessworkflow/modules/ROOT/pages/core/understanding-workflow-error-handling.adoc
Owners: @hmanwani-rh

Apply suggestions from code review
  serverlessworkflow/modules/ROOT/pages/persistence/persistence-with-postgresql.adoc
Owners: @hmanwani-rh

SME review suggestions incorporated
  serverlessworkflow/modules/ROOT/pages/use-cases/orchestration-based-saga-pattern.adoc
Owners: @hmanwani-rh

Incorporated SME review suggestions
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

KOGITO-7312: Patch PR for KOGITO-7311 with doc improvements in Mocking HTTP CloudEvents sink with Wiremock guide (#80)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

KOGITO-6996 Added new guide: "Working with parallelism" (#77)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/working-with-parallelism.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

added links to mentioned classes, prerequisites and some content changes
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

renamed internal references
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

removed the guide link at index.adoc regarding it's handled by other PR
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

KOGITO-7309:Integration tests with PostgreSQL
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

review comments fixed
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

Review comments suggestions added
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

add the guide link at index.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

KOGITO-7248: Patch PR for KOGITO-6996 with doc improvements in parallelism guide
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/working-with-parallelism.adoc
Owners: @hmanwani-rh

Updatd name in index.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

Changing maven config section position
  serverlessworkflow/modules/ROOT/pages/_common-content/productized-instructions.adoc
  serverlessworkflow/modules/ROOT/pages/getting-started/create-your-first-workflow-service.adoc
Owners: @hmanwani-rh

Adding source highlighting to Mock CE guide
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

Fixing tab
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

Testing Persistence with Dev Services
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

Added maven-failsafe-pluggin as a needed step in procedure
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

KOGITO-7244: Patch PR for KOGITO-6806 with doc improvements in Saga example guide (#76)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/use-cases/orchestration-based-saga-pattern.adoc
Owners: @hmanwani-rh

[KOGITO-7646] Add event filter usage example to expression guide
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

SME review incorporated
  serverlessworkflow/modules/ROOT/pages/eventing/working-with-callbacks.adoc
Owners: @hmanwani-rh

KOGITO-7256: Patch PR for KOGITO-7255 with doc improvements in Callback guide (#72)
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/eventing/working-with-callbacks.adoc
Owners: @akumar074, @hmanwani-rh

SME review suggestions incorporated
  serverlessworkflow/modules/ROOT/pages/core/working-with-parallelism.adoc
Owners: @hmanwani-rh

KOGITO-7248: Patch PR for KOGITO-6996 with doc improvements in parallelism guide (#82)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/working-with-parallelism.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

[KOGITO-7286] Configuring events with Kafka (#54)
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/eventing/consume-producing-events-with-kafka.adoc
Owners: @akumar074, @hmanwani-rh

Adding source highlighting to Mock CE guide (#83)
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

deploy: ec4f4856dad50a982e73494e835d1db479761268
  serverlessworkflow/main/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.html
Owners: @ricardozanini, @krisv

KOGITO-7287: Patch PR for KOGITO-7286 with doc improvements in Consuming and producing events with Kafka guide
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/eventing/consume-producing-events-with-kafka.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @akumar074, @hmanwani-rh

Fix wrong name of property in text (`substractvalue` -> `subtractValue`)
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Simplify the mac command line instructions
  serverlessworkflow/modules/ROOT/pages/tooling/kn-plugin-workflow-overview.adoc
Owners: @hmanwani-rh

Typo
  serverlessworkflow/modules/ROOT/pages/tooling/kn-plugin-workflow-overview.adoc
Owners: @hmanwani-rh

KOGITO-7612 - [Kogito Guides] Implement gRPC streaming scenarios
  serverlessworkflow/modules/ROOT/pages/service-orchestration/orchestration-of-grpc-services.adoc
Owners: @hmanwani-rh

Rewording by Heena.
  serverlessworkflow/modules/ROOT/pages/service-orchestration/orchestration-of-grpc-services.adoc
Owners: @hmanwani-rh

KOGITO-7612 - [Kogito Guides] Implement gRPC streaming scenarios (#87)
  serverlessworkflow/modules/ROOT/pages/service-orchestration/orchestration-of-grpc-services.adoc
Owners: @hmanwani-rh

deploy: ae757dee0fa307aa406a28f36df789b4012f7dc9
  search-index.js
  serverlessworkflow/main/service-orchestration/orchestration-of-grpc-services.html
Owners: @ricardozanini, @krisv
