Repository apache/incubator-kie-kogito-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ricardozanini, @krisv, @hmanwani-rh, @radtriste, @MarianMacik

.github/CODEOWNERS:

*	@ricardozanini @krisv

*.adoc	@hmanwani-rh @radtriste @MarianMacik
*.md	@hmanwani-rh
Jenkinsfile* @radtriste

correction
  serverlessworkflow/modules/ROOT/pages/core/defining-an-input-schema-for-workflows.adoc
Owners: @hmanwani-rh, @radtriste, @MarianMacik

update
  serverlessworkflow/modules/ROOT/pages/core/defining-an-input-schema-for-workflows.adoc
Owners: @hmanwani-rh, @radtriste, @MarianMacik

correction
  serverlessworkflow/modules/ROOT/pages/core/defining-an-input-schema-for-workflows.adoc
Owners: @hmanwani-rh, @radtriste, @MarianMacik

Add Release notes for 1.26 and contrib guides
  CONTRIBUTING.md
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/release_notes.adoc
Owners: @hmanwani-rh, @radtriste, @MarianMacik

KOGITO-7794 Correct input schema guide (#170)
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/pages/core/defining-an-input-schema-for-workflows.adoc
  serverlessworkflow/modules/ROOT/pages/service-orchestration/orchestration-of-openapi-based-services.adoc
Owners: @ricardozanini, @krisv, @hmanwani-rh, @radtriste, @MarianMacik

deploy: 0e02950a996e809752d960ee967b6e7c5091799b
  search-index.js
  serverlessworkflow/main/core/defining-an-input-schema-for-workflows.html
Owners: @ricardozanini, @krisv

Kogito SWF Vistualization feature preview
  serverlessworkflow/modules/ROOT/assets/images/tooling/serverless-logic-web-tools/serverless-logic-web-tools-feature-preview.png
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/tooling/serverless-logic-web-tools/serverless-logic-web-tools-enable-kogito-swf-visualization.adoc
  serverlessworkflow/modules/ROOT/pages/tooling/serverless-logic-web-tools/serverless-logic-web-tools-overview.adoc
  serverlessworkflow/modules/ROOT/pages/tooling/serverless-logic-web-tools/serverless-logic-web-tools-redhat-application-services-integration.adoc
Owners: @ricardozanini, @krisv, @hmanwani-rh, @radtriste, @MarianMacik

[KOGITO-7481] - [KWS-Guides] Document the Enhanced Service Discovery
  serverlessworkflow/modules/ROOT/assets/images/cloud/sw-discovery-flow.jpg
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/cloud/enhanced-service-discovery.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @ricardozanini, @krisv, @hmanwani-rh, @radtriste, @MarianMacik

KOGITO-7785 Updated Init branch job (#176)
  .ci/jenkins/Jenkinsfile.init-branch
  .ci/jenkins/dsl/jobs.groovy
Owners: @radtriste, @ricardozanini, @krisv
