Repository apache/incubator-kie-kogito-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ricardozanini, @krisv, @kaldesai, @radtriste, @MarianMacik

[1.28.x] - Release Notes for 1.28.x (#208)
  serverlessworkflow/modules/ROOT/pages/release_notes.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

[main] Bump Quarkus version to 2.13.0.Final (#212)
  serverlessworkflow/antora.yml
Owners: @ricardozanini, @krisv

deploy: 1fd0a0b2a5aef4e566caae75284f258e08e25b68
  search-index.js
  serverlessworkflow/1.28.0-SNAPSHOT/release_notes.html
  serverlessworkflow/main/cloud/deploying-on-minikube.html
  serverlessworkflow/main/getting-started/create-your-first-workflow-service.html
  serverlessworkflow/main/tooling/quarkus-dev-ui-extension/quarkus-dev-ui-overview.html
Owners: @ricardozanini, @krisv

[1.27.x] Bump Quarkus version to 2.7.6.Final (#216)
  serverlessworkflow/antora.yml
Owners: @ricardozanini, @krisv

KOGITO-7764 timeouts support
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

updating timeouts
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

updating job service diagram
  serverlessworkflow/modules/ROOT/assets/images/core/jobs-service-knative-architecture.png
Owners: @ricardozanini, @krisv

applying PR comments
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

adding diagrams and example timeout
  serverlessworkflow/modules/ROOT/assets/images/core/callback-state-timeouts.svg
  serverlessworkflow/modules/ROOT/assets/images/core/jobs-service-knative-architecture.png
  serverlessworkflow/modules/ROOT/assets/images/core/switch-state-timeouts.svg
  serverlessworkflow/modules/ROOT/assets/images/core/timeout-switch-wokflow-ui.png
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
Owners: @ricardozanini, @krisv, @kaldesai, @radtriste, @MarianMacik

applying PR comments
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
  serverlessworkflow/modules/ROOT/pages/getting-started/cncf-serverless-workflow-specification-support.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

adding report issue, text improvements and card
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @kaldesai, @radtriste, @MarianMacik

Addressing comments from the pr review
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/pages/core/timeouts-support.adoc
Owners: @ricardozanini, @krisv, @kaldesai, @radtriste, @MarianMacik

add kogito version to urls
  serverlessworkflow/antora.yml
Owners: @ricardozanini, @krisv

KOGITO-8043 Jenkins node master -> built-in
  .ci/jenkins/Jenkinsfile.init-branch
  .ci/jenkins/Jenkinsfile.post-release
Owners: @radtriste

KOGITO-8043 Jenkins node master -> built-in
  .ci/jenkins/Jenkinsfile.init-branch
  .ci/jenkins/Jenkinsfile.post-release
Owners: @radtriste

KOGITO-8043 Jenkins node master -> built-in
  .ci/jenkins/Jenkinsfile.init-branch
  .ci/jenkins/Jenkinsfile.post-release
Owners: @radtriste

.github/CODEOWNERS:

*	@ricardozanini @krisv

*.adoc	@kaldesai @radtriste @MarianMacik
*.md	@kaldesai
Jenkinsfile* @radtriste
