Repository apache/incubator-kie-kogito-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ricardozanini, @krisv, @hmanwani-rh, @akumar074

.github/CODEOWNERS:

*	@ricardozanini @krisv

*.adoc	@hmanwani-rh
*.md	@hmanwani-rh
*.yml	@akumar074
*.json	@akumar074

SME review suggestions incorporated
  serverlessworkflow/modules/ROOT/pages/eventing/consume-producing-events-with-kafka.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Update serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

KOGITO-7287: Patch PR for KOGITO-7286 with doc improvements in Consuming and producing events with Kafka guide (#88)
  serverlessworkflow/antora.yml
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/eventing/consume-producing-events-with-kafka.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @akumar074, @hmanwani-rh

[KOGITO-7646] Add event filter usage example to expression guide (#86)
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

Apply suggestions from code review
  serverlessworkflow/modules/ROOT/pages/tooling/kn-plugin-workflow-overview.adoc
Owners: @hmanwani-rh

Simplify the mac command line instructions (#90)
  serverlessworkflow/modules/ROOT/pages/tooling/kn-plugin-workflow-overview.adoc
Owners: @hmanwani-rh

deploy: 6f3940f45fdc82b3987e6ddca4ff916b79685e76
  search-index.js
  serverlessworkflow/main/tooling/kn-plugin-workflow-overview.html
Owners: @ricardozanini, @krisv

KOGITO-7309 Integration tests with PostgreSQL (#34)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/mocking-http-cloudevents-with-wiremock.adoc
Owners: @hmanwani-rh

KOGITO-7310: Patch PR for KOGITO-7309 with doc improvements in Integration tests with PostgreSQL
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

Minor fixes
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

KOGITO-7664 Fix wrong name of property in text (`substractvalue` -> `subtractValue`) (#89)
  serverlessworkflow/modules/ROOT/pages/core/understanding-jq-expressions.adoc
Owners: @hmanwani-rh

deploy: 8bad216df7a1f4348094e5c1daf3f3504d493113
  search-index.js
  serverlessworkflow/main/core/understanding-jq-expressions.html
Owners: @ricardozanini, @krisv

KOGITO-7310: Patch PR for KOGITO-7309 with doc improvements in Integration tests with PostgreSQL guide (#91)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/testing-and-troubleshooting/integration-tests-with-postgresql.adoc
Owners: @hmanwani-rh

Fixed broken link
  serverlessworkflow/modules/ROOT/nav.adoc
Owners: @hmanwani-rh

Fixed broken link (#93)
  serverlessworkflow/modules/ROOT/nav.adoc
Owners: @hmanwani-rh

KOGITO-7453: Incorporate suggested changes from Heena
  serverlessworkflow/modules/ROOT/pages/core/understanding-workflow-error-handling.adoc
Owners: @hmanwani-rh

Adding Kogito favicon
  antora/supplemental-ui/img/favicon.ico
  antora/supplemental-ui/partials/head-meta.hbs
Owners: @ricardozanini, @krisv

Apply suggestions from code review
  serverlessworkflow/modules/ROOT/pages/persistence/persistence-with-postgresql.adoc
Owners: @hmanwani-rh

KOGITO-7453: Update workflow error handling guide to describe new ExceptionHandlerPolicy (#51)
  serverlessworkflow/modules/ROOT/pages/core/understanding-workflow-error-handling.adoc
Owners: @hmanwani-rh

deploy: 664a130163a8870010896cdcb073a0febfd248c7
  search-index.js
  serverlessworkflow/main/core/understanding-workflow-error-handling.html
Owners: @ricardozanini, @krisv

KOGITO-7301 - Persistence with PostgresSQL databases (#75)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/persistence/persistence-with-postgresql.adoc
Owners: @hmanwani-rh

KOGITO-7636 SW configuration properties guide
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/configuration-properties.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

KOGITO-7302: Patch PR for KOGITO-7301 with doc improvements in Persistence with PostgresSQL databases guide
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/persistence/persistence-with-postgresql.adoc
Owners: @hmanwani-rh

KOGITO-7302: Patch PR for KOGITO-7301 with doc improvements in Persistence with PostgresSQL databases guide (#96)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/persistence/persistence-with-postgresql.adoc
Owners: @hmanwani-rh

Adding Kogito favicon (#95)
  antora/supplemental-ui/img/favicon.ico
  antora/supplemental-ui/partials/head-meta.hbs
Owners: @ricardozanini, @krisv

incorporating SMEs review
  serverlessworkflow/modules/ROOT/pages/_common-content/productized-instructions.adoc
Owners: @hmanwani-rh

Fixed broken links
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/security/authention-support-for-openapi-services.adoc
  serverlessworkflow/modules/ROOT/pages/security/orchestrating-third-party-services-with-oauth2.adoc
Owners: @hmanwani-rh

Fixed broken links (#97)
  serverlessworkflow/modules/ROOT/pages/index.adoc
  serverlessworkflow/modules/ROOT/pages/security/authention-support-for-openapi-services.adoc
  serverlessworkflow/modules/ROOT/pages/security/orchestrating-third-party-services-with-oauth2.adoc
Owners: @hmanwani-rh

deploy: aaece44611adc5af8f72b1e0a0dd6bbec0ab96dc
  serverlessworkflow/main/index.html
Owners: @ricardozanini, @krisv

[main] Bump Quarkus version to 2.11.1.Final
  serverlessworkflow/antora.yml
Owners: @akumar074

KOGITO-7636 SW configuration properties guide (#84)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/configuration-properties.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

KOGITO-7637: Patch PR for KOGITO-7636 with doc improvements in configuration properties
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/configuration-properties.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh

[main] Bump Quarkus version to 2.11.1.Final (#98)
  serverlessworkflow/antora.yml
Owners: @akumar074

deploy: 36faf304cf742de4156b49d80f5bbd9437181df7
  search-index.js
  serverlessworkflow/main/cloud/build-workflow-image-with-quarkus-cli.html
  serverlessworkflow/main/cloud/deploying-on-minikube.html
  serverlessworkflow/main/getting-started/create-your-first-workflow-service.html
  serverlessworkflow/main/tooling/quarkus-dev-ui-extension/quarkus-dev-ui-overview.html
Owners: @ricardozanini, @krisv

KOGITO-7637: Patch PR for KOGITO-7636 with doc improvements in configuration properties (#99)
  serverlessworkflow/modules/ROOT/nav.adoc
  serverlessworkflow/modules/ROOT/pages/core/configuration-properties.adoc
  serverlessworkflow/modules/ROOT/pages/index.adoc
Owners: @hmanwani-rh
